*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1400px;
    border: 1px solid;
    margin: 40px auto;
}
.wrapper .boxforlogo{
    width: 155px;
    height: 70px;
    margin: 18px auto 18px 250px;
    border: 1px solid;
}